<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp" class="com.mks.springdi.Employee">
		<constructor-arg type="int" name="id">
			<value>10</value>
		</constructor-arg>

		<constructor-arg type="java.lang.String" name="name">
			<value>Manoj</value>
		</constructor-arg>
	</bean>

	<bean id="address" class="com.mks.springdi.Address">
		<constructor-arg value="Bangalore" name="city"></constructor-arg>
		<constructor-arg value="Karnataka" name="state"></constructor-arg>
		<constructor-arg value="India" name="country"></constructor-arg>
	</bean>

	<!-- bean creation for Employee1 [TestConstructorInjectionWithDO] -->
	<bean id="emp1" class="com.mks.springdi.Employee1">
		<constructor-arg value="10" name="id" type="int"></constructor-arg>
		<constructor-arg value="Manoj" name="name" type="java.lang.String"></constructor-arg>
		<constructor-arg>
			<ref bean="address" />
		</constructor-arg>
	</bean>

	<!-- bean creation for Question [TestConstructorInjectionWithCollection] -->
	<bean id="answerlist" class="com.mks.springdi.Question">
		<constructor-arg value="1" type="int"></constructor-arg>
		<constructor-arg value="What is Java ?" type="java.lang.String"></constructor-arg>
		<constructor-arg>
			<list>
				<value>It's a programming language</value>
				<value>It's a platform</value>
				<value>It is a island</value>
			</list>

		</constructor-arg>

	</bean>
</beans>